html, body {
    background: #CCC;
    color: #111;
}
#main {
    margin: 0 auto;
    width: 650px;
    background: #FFF;
    padding: 30px;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: #AAA;
    line-height: 1.3;
}
#foot {
    margin: 0 auto;
    width: 706px;
    padding: 5px 2px 15px;
}
#foot p {
    font-size: 90%;
    color: #666;
}
#head {
    margin-bottom: 30px;
}
#head h1 {
    font-size: 300%;
    font-family: Georgia;
    color: #111;
}
#head p {
    margin-top: 20px;
    color: #666;
}
#head p a {
    color: #777;
    border-bottom: 1px solid #CCC;
    text-decoration: none;
}
#head a:hover, #head a:focus {
    border-bottom: 0;
}
a {
    color: #136DFF;
}
a:hover, a:focus {
    text-decoration: none;
}
ul {
    margin-bottom: 20px;
}
ul li {
    margin-bottom: 15px;
    background: #CCC;
    -webkit-border-radius: 10px;
    padding: 20px;
    border-bottom: 1px solid #AAA;
}
ul li h2 {
    margin-bottom: 5px;
    font-weight: bold;
}
#debug {
    margin-top: 30px;
}
#debug p {
    margin-bottom: 20px;
    color: #666;
}
form div {
    position: relative;
    margin-bottom: 10px;
}
form label {
    position: absolute;
}
form input, form textarea {
    margin-left: 100px;
}
form input {
    width: 200px;
}
form textarea {
    width: 300px;
    height: 100px;
}
form div.submit input {
    width: auto;
}